<div class="custom-container">
	<div class="col-xs-4">
		<input data-type="airlineCode" class="form-control searchInput" type="text" placeholder="By Airline Code..." />
	</div>
	<div class="col-xs-4">
		<input data-type="class" class="form-control searchInput" type="text" placeholder="By Class..." />
	</div>
	<div class="col-xs-4">
		<select class="form-control input-small">
			<option selected value="earlytakeoff">Earlier take off</option>
			<option value="latetakeoff">Late take off</option>
			<option value="earlylandingtime">Early take off</option>
			<option value="latelandingtime">Late take off</option>
			<option value="cheapprice">Cheapest</option>
			<option value="costlyprice">Costliest</option>
		</select>
	</div>
</div>

<div class="container">
	<ul class="thumbnails list-unstyled show_flight_details">
	</ul>
</div>
