#bodyWrapper {
    width: 100%;
	margin: 0;
	padding: 0;
}

#content {
	padding: 10px;
}

.my_scroll {
	float: left;
}

/*.flight_info {
	width: 100%;
}*/

.custom-container {
	margin-bottom: 20px;
	width: 100%;
	float: left;
}

.page-header ul li,
.toggle-section {
	cursor: pointer;
}

.img-size {
	width: 128px;
}

.book-info {
	padding-left: 10px;
	width: calc(100% - 128px);
}
